@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  background-color: #242424;
  color: #d6d4d4;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  display: none;
}

.profile-image {
    width: 400px;
    height: auto;
    border-radius: 3%;
  }

.github-icon {
  height: 23px;
  float: right;
  margin-left: 15px;
}

.github-events {
  display: flex;
}

.li-events {
  border-bottom: 1px solid #d6d4d4;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.li-pinned {
  border-bottom: 1px solid #d6d4d4;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.github-link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}

.footer-links {
  list-style: none;
  gap: 2rem;
  display: flex;
}

footer {
  flex-shrink: 0;
  margin-top: 3rem;
}